<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Puntos de recarga BIP!</title>
    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.css">
    <!-- endinject -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-controller="mainController">
    <div class="container">
        <div class="header clearfix">
            <h3 class="text-muted"> {{titulo}}</h3>
        </div>
        {{position}}
        <div ng-if="mostrar">
            <h3>Se han encontrado puntos de recarga BIP! cerca suyo</h3>
            <ng-map center="{{puntoCercano[1]}},{{puntoCercano[2]}}" zoom="16">
                <marker position="[{{puntoCercano[1]}},{{puntoCercano[2]}}]" title="how" animation="Animation.BOUNCE"></marker>
                <!--  <marker ng-repeat="item in listado" position="[ {{item.LATITUD}},{{item.LONGITUD}} ]" title="{{item.DIRECCION}}" animation="DROP"></marker>-->
            </ng-map>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ENTIDAD</th>
                        <th>CODIGO</th>
                        <th>COMUNA</th>
                        <th>NOMBRE FANTASIA</th>
                        <th>HORARIO REFERENCIAL</th>
                        <th>DIRECCION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in listado">
                        <td>{{item.ENTIDAD}}</td>
                        <td>{{item.CODIGO}}</td>
                        <td>{{item.COMUNA}}</td>
                        <td>{{item['NOMBRE FANTASIA']}}</td>
                        <td>{{item['HORARIO REFERENCIAL']}}</td>
                        <td>{{item.DIRECCION}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="footer">
            <p>&copy; 2015 Company, Inc.</p>
        </footer>
    </div>
    <!-- head:js -->
    <script src="js/angular.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="app.js"></script>
    <script src="config.js"></script>
    <script src="controller/home.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaqD25nJGCCNmzfE_3O3ocJgnR3gUt_jc&sensor=true" async defer></script>
    <script src="js/ngmap/build/scripts/ng-map.min.js"></script>
    <!-- endinject -->
</body>

</html>